header {
    display: flex;
}
header { 
    background-color: cornflowerblue;
}
.logo {
    margin-left: 20px;
    margin-right: 40px;
    margin-top: 20px;
    margin-bottom: 10px;
}
li {
    list-style-type: none; /*this gets rid of bullets*/
    margin-left: 150px;
    margin-right: 150px;
}
a {
    text-decoration: none; /*should get rid of hyperlinks*/
    color: white;
}
h1 { 
    color: white;
    font-size: larger;
    margin-left: 60px;
    margin-right: 20px;
}
#wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}